@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media screen and (max-width: 37.5em) { @content }; // 600
    }
    @if $breakpoint == tablet-port {
        @media screen and (max-width: 56.25em) { @content }; // 900
    }
    @if $breakpoint == tablet-landscape {
        @media screen and (max-width: 75em) { @content }; // 1200
    }
    @if $breakpoint == big-desktop {
        @media screen and (min-width: 112.5em) { @content }; // 1800
    }
}
