.section-about {
    padding: 25rem 0 15rem 0;
    margin-top: -25vh;

    @include respond(tablet-port) {
        padding: 35rem 0 15rem 0;
    }
}
.section-features {
    padding: 17rem 0;
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)),
        url("../images/nat-4.jpg");
    background-size: cover;
    // clip-path: polygon(0 20%, 100% 0, 100% 80%, 0% 100%);
    transform: skewY(-7deg);

    & > * {
        transform: skewY(7deg);
    }

    @include respond(tablet-port) {
        padding: 12rem 0;
    }
}

.section-tours {
    padding: 17rem 0 10rem 0;

    @include respond(tablet-port) {
        padding: 15rem 0 3rem 0;
    }
    @include respond(phone) {
        padding: 15rem 0 3rem 0;
    }
}

.section-stories {
    position: relative;
    padding: 15rem 0;

    @include respond(tablet-port) {
        padding: 10rem 0;

    }
}

.section-book {
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
    padding: 8.5rem 0;

    @include respond(tablet-port) {
        padding: 7rem 0;
    }
}
.book {
    background-image: linear-gradient(105deg, rgba($color-white, 0.9) 0%, rgba($color-white, 0.9) 50%, transparent 50%),
        url(../images/nat-10.jpg);
    background-size: 100%;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);

    @include respond(tablet-landscape) {
        background-image: linear-gradient(105deg,rgba($color-white, 0.8) 0%, rgba($color-white, 0.8) 65%, transparent 65%), url(../images/nat-10.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    @include respond(tablet-port) {
        background-image: linear-gradient(105deg,rgba($color-white, 0.8) 0%, rgba($color-white, 0.8) 100%), url(../images/nat-10.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    &__form {
        width: 50%;
        padding: 6rem;

        @include respond(tablet-landscape) {
            width: 65%;
        }
        @include respond(tablet-port) {
            width: 100%;
        }
    }
}
