.header {
    height: 97vh;
    background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)),
        url("../images/hero.jpg");
    clip-path: polygon(0 0, 100% 0, 100% 83vh, 0 100%);
    background-position: top;
    background-size: cover;
    position: relative;

    &-logo {
        position: absolute;
        top: 2.5rem;
        left: 7.5rem;
        width: 11rem;
    }

    @include respond(phone) {
        clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
    }

    &-text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
    }    

}
